<a href="https://colab.research.google.com/github/Kriegtho/2022_ML_EES/blob/main/project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:

# Python ≥3.5 is required
import sys
assert sys.version_info >= (3, 5)

# Is this notebook running on Colab or Kaggle?
IS_COLAB = "google.colab" in sys.modules

# Scikit-Learn ≥0.20 is required
import sklearn
assert sklearn.__version__ >= "0.20"

# Common imports
import numpy as np
import os

# to make this notebook's output stable across runs
rnd_seed = 42
rnd_gen = np.random.default_rng(rnd_seed)

# To plot pretty figures
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt
mpl.rc('axes', labelsize=14)
mpl.rc('xtick', labelsize=12)
mpl.rc('ytick', labelsize=12)

# Where to save the figures
PROJECT_ROOT_DIR = "."
CHAPTER_ID = "classification"
IMAGES_PATH = os.path.join(PROJECT_ROOT_DIR, "images", CHAPTER_ID)
os.makedirs(IMAGES_PATH, exist_ok=True)

def save_fig(fig_id, tight_layout=True, fig_extension="png", resolution=300):
    path = os.path.join(IMAGES_PATH, fig_id + "." + fig_extension)
    print("Saving figure", fig_id)
    if tight_layout:
        plt.tight_layout()
    plt.savefig(path, format=fig_extension, dpi=resolution)

In [42]:
import pooch
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [47]:
import pandas as pd
from google.colab import files
import io

uploaded = files.upload()

Saving StormEvents_details-ftp_v1.0_d2009_c20220425.csv to StormEvents_details-ftp_v1.0_d2009_c20220425 (2).csv

In [53]:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [56]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [61]:
# libraries for the files in google drive
import pandas as pd
from pydrive.auth import GoogleAuth
from google.colab import drive
from google.colab import auth
from pydrive.drive import GoogleDrive
from oauth2client.client import GoogleCredentials

auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

file_id = '1jfdPGLWpRHH9eCJDuy5a1sNlK1Xp0XV3'

download = drive.CreateFile({'id': file_id})

# Download the file to a local disc
download.GetContentFile('StormEvents_details-ftp_v1.0_d2009_c20220425.csv')
df  = pd.read_csv("StormEvents_details-ftp_v1.0_d2009_c20220425.csv")
df

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE,STATE_FIPS,...,END_RANGE,END_AZIMUTH,END_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EPISODE_NARRATIVE,EVENT_NARRATIVE,DATA_SOURCE
0,200912,9,400,200912,9,1400,35732,206802,NEW HAMPSHIRE,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Strong low pressure moved over the Cape Cod Ca...,A tree was downed in Pelham by heavy snow and ...,CSV
1,200901,18,300,200901,18,1700,25713,150209,NEW HAMPSHIRE,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A low pressure system in the Great Lakes redev...,Seven inches of snow fell in eastern Hillsboro...,CSV
2,200901,28,950,200901,28,2200,25704,150108,NEW HAMPSHIRE,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A strong low pressure system moved through sou...,Nearly six inches of snow fell across eastern ...,CSV
3,200901,7,900,200901,7,2000,25707,150115,NEW HAMPSHIRE,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A low pressure system moved across the Ohio Va...,An eighth of an inch of ice and 2.6 inches of ...,CSV
4,200901,11,0,200901,11,1300,25710,150128,NEW HAMPSHIRE,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A low pressure system moved across the Ohio Va...,Eight inches of snow fell in eastern Hillsboro...,CSV
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57393,200907,18,1705,200907,18,1705,32466,190198,LOUISIANA,22,...,7.0,N,HOLLY BEACH,29.8648,-93.4693,29.8648,-93.4693,A line of strong to severe thunderstorms devel...,Cameron Pilot reported lightning started a fir...,CSV
57394,200907,18,1800,200907,18,1800,32462,190059,TEXAS,48,...,1.0,WSW,PEVETO,30.1226,-93.8395,30.1226,-93.8395,A line of strong to severe thunderstorms devel...,Beaumont Enterprise reported the Old First Bap...,CSV
57395,200907,18,1540,200907,18,1540,32462,190066,TEXAS,48,...,0.0,SW,PINE FOREST,30.1773,-94.0337,30.1773,-94.0337,A line of strong to severe thunderstorms devel...,An 84 year old Pine Forest resident was killed...,CSV
57396,200907,18,1625,200907,18,1625,32462,190070,TEXAS,48,...,0.0,N,BEAUMONT,30.0800,-94.1000,30.0800,-94.1000,A line of strong to severe thunderstorms devel...,Beaumont Enterprise reported numerous downed p...,CSV
57397,200907,18,1545,200907,18,1545,32462,190071,TEXAS,48,...,5.0,N,VIDOR,30.1924,-94.0200,30.1924,-94.0200,A line of strong to severe thunderstorms devel...,A trained spotter reported an oak tree was spl...,CSV

Warning: Total number of columns (51) exceeds max_columns (20) limiting to first (20) columns.
Warning: total number of rows (57398) exceeds max_rows (20000). Limiting to first (20000) rows.

In [ ]:
https://drive.google.com/file/d/1jfdPGLWpRHH9eCJDuy5a1sNlK1Xp0XV3/view?usp=share_link

In [64]:
df.describe()

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE_FIPS,YEAR,...,CATEGORY,TOR_LENGTH,TOR_WIDTH,TOR_OTHER_CZ_FIPS,BEGIN_RANGE,END_RANGE,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON
count,57398.000000,57398.000000,57398.000000,57398.000000,57398.000000,57398.000000,57398.000000,57398.000000,57398.000000,57398.0,...,1.0,1273.000000,1273.000000,115.000000,37573.000000,37573.000000,37573.000000,37573.000000,37573.000000,37573.000000
mean,200906.041204,14.892174,1316.168351,200906.041221,15.859542,1430.992630,30027.738806,176563.456793,31.078557,2009.0,...,4.0,2.444423,142.087251,104.373913,2.470897,2.494717,37.116742,-90.685642,37.110546,-90.676459
std,3.126154,8.782394,652.409338,3.126140,8.855667,593.868956,3225.193994,18196.775879,17.931266,0.0,...,NaN,3.426312,207.843721,80.748414,4.254329,4.165946,4.881766,10.473853,4.879221,10.472503
min,200901.000000,1.000000,0.000000,200901.000000,1.000000,0.000000,23948.000000,139587.000000,1.000000,2009.0,...,4.0,0.010000,1.000000,1.000000,0.000000,0.000000,-14.326900,-170.837400,-14.381900,-170.824000
25%,200904.000000,8.000000,830.000000,200904.000000,9.000000,1045.000000,27254.000000,161341.250000,19.000000,2009.0,...,4.0,0.330000,33.000000,54.000000,1.000000,1.000000,34.000000,-97.320000,33.992400,-97.317100
50%,200906.000000,14.000000,1500.000000,200906.000000,15.000000,1543.000000,29928.500000,176471.500000,30.000000,2009.0,...,4.0,1.180000,75.000000,87.000000,1.000000,1.000000,37.050000,-90.846700,37.050000,-90.820000
75%,200908.000000,23.000000,1811.000000,200908.000000,24.000000,1845.000000,32622.000000,191511.750000,46.000000,2009.0,...,4.0,3.110000,150.000000,130.000000,3.000000,3.000000,40.400000,-83.180000,40.395000,-83.176500
max,200912.000000,31.000000,2359.000000,200912.000000,31.000000,2359.000000,71866.000000,432912.000000,99.000000,2009.0,...,4.0,26.330000,1760.000000,499.000000,177.000000,176.000000,70.432200,-64.730000,70.434200,-64.730000

In [105]:
 select= df[[ "END_YEARMONTH", "END_DAY", "END_TIME", "YEAR", "END_RANGE",'EVENT_TYPE','BEGIN_TIME','CZ_TYPE']]

In [106]:
dna=select.dropna()

In [107]:
dna.shape

(37573, 7)

In [118]:
x=dna[["END_YEARMONTH", "END_DAY", "END_TIME", "YEAR", "END_RANGE",'BEGIN_TIME']]
y=[['CZ_TYPE']]

In [123]:
df('CZ_TYPE')

TypeError: ignored

In [122]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3,random_state=42)

ValueError: ignored

In [65]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV

In [66]:
param_grid = {'weights':['uniform', 'distance'], # 1st hyperparameter and the values it can take
              'n_neighbors':[3, 4, 5, 6] # 2nd hyperparameter and the values it can take
              }

In [67]:
# Instantiate the imported model class
knn_clf = KNeighborsClassifier()

In [68]:
# Let's instantiate the scikit class used to do grid searches
grid_search = GridSearchCV( 
    knn_clf, # The model we're going to use in the search
    param_grid, # The method dictionary of parameters we'll iterate through in the search
    cv = 6, # The number of folds used to cross-validate
    verbose = 3) #Let's set the verbosity to the highest level: 3